In [47]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import scipy.stats as st

In [48]:
# Importing data files

pollution_data_df = pd.read_csv("Resources/California_Pollution.csv")
mortality_data_df = pd.read_csv("Resources/California_Mortality.csv")

In [58]:
pollution_data_df
pollution_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 397532 entries, 0 to 397531
Data columns (total 29 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Unnamed: 0         397532 non-null  int64
 1   State Code         397532 non-null  int64
 2   County Code        397532 non-null  int64
 3   Site Num           397532 non-null  int64
 4   Address            397532 non-null  object
 5   State              397532 non-null  object
 6   County             397532 non-null  object
 7   City               397532 non-null  object
 8   Date Local         397532 non-null  object
 9   NO2 Units          397532 non-null  object
 10  NO2 Mean           397532 non-null  float64
 11  NO2 1st Max Value  397532 non-null  float64
 12  NO2 1st Max Hour   397532 non-null  int64
 13  NO2 AQI            397532 non-null  int64
 14  O3 Units           397532 non-null  object
 15  O3 Mean            397532 non-null  float64
 16  O3 1st Max Value   397532 non-null  float64
 17  O3 1st Max Hour    397532 non-null  int64
 18  O3 AQI             397532 non-null  int64
 19  SO2 Units          397532 non-null  object
 20  SO2 Mean           397532 non-null  float64
 21  SO2 1st Max Value  397532 non-null  float64
 22  SO2 1st Max Hour   397532 non-null  int64
 23  SO2 AQI            198881 non-null  float64
 24  CO Units           397532 non-null  object
 25  CO Mean            397532 non-null  float64
 26  CO 1st Max Value   397532 non-null  float64
 27  CO 1st Max Hour    397532 non-null  int64
 28  CO AQI             198768 non-null  float64
dtypes: float64(10), int64(10), object(9)
memory usage: 88.0+ MB

In [50]:
mortality_data_df

,Notes,Year,Year Code,ICD-10 113 Cause List,ICD-10 113 Cause List Code,County,County Code,Race,Race Code,Gender,Gender Code,Deaths,Population,Crude Rate
0,NaN,2006.0,2006.0,#Influenza and pneumonia (J09-J18),GR113-076,"Alameda County, CA",6001.0,Asian or Pacific Islander,A-PI,Female,F,15.0,204139.0,Unreliable
1,NaN,2006.0,2006.0,#Influenza and pneumonia (J09-J18),GR113-076,"Alameda County, CA",6001.0,Asian or Pacific Islander,A-PI,Male,M,13.0,189589.0,Unreliable
2,NaN,2006.0,2006.0,#Influenza and pneumonia (J09-J18),GR113-076,"Alameda County, CA",6001.0,Black or African American,2054-5,Female,F,30.0,112599.0,26.6
3,NaN,2006.0,2006.0,#Influenza and pneumonia (J09-J18),GR113-076,"Alameda County, CA",6001.0,Black or African American,2054-5,Male,M,21.0,98714.0,21.3
4,NaN,2006.0,2006.0,#Influenza and pneumonia (J09-J18),GR113-076,"Alameda County, CA",6001.0,White,2106-3,Female,F,73.0,410372.0,17.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6390,resident population that is under one year of ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6391,"7. Beginning with the 2018 data, changes have ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6392,"compared to previous practice. In addition, da...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6393,in information available to individual states ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6394,information can be found at: https://www.cdc.g...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [51]:

# mortality_data_df[["County","State_Abbreviation"]] = mortality_data_df.County.str.split(" ",expand=True)
mortality_data_df[["County","State_Abbreviation"]] = mortality_data_df.County.str.split(",",expand=True)

In [52]:
# mortality_data_df['County'] = mortality_data_df['County'].str.split(' ').str[0]

In [57]:
mortality_data_df
mortality_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6395 entries, 0 to 6394
Data columns (total 15 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Notes                       70 non-null     object
 1   Year                        6325 non-null   float64
 2   Year Code                   6325 non-null   float64
 3   ICD-10 113 Cause List       6325 non-null   object
 4   ICD-10 113 Cause List Code  6325 non-null   object
 5   County                      6325 non-null   object
 6   County Code                 6325 non-null   float64
 7   Race                        6325 non-null   object
 8   Race Code                   6325 non-null   object
 9   Gender                      6325 non-null   object
 10  Gender Code                 6325 non-null   object
 11  Deaths                      6325 non-null   float64
 12  Population                  6325 non-null   float64
 13  Crude Rate                  6325 non-null   object
 14  State_Abbreviation          6325 non-null   object
dtypes: float64(5), object(10)
memory usage: 749.5+ KB

In [55]:
# Combine the data into a single dataset
merged_inner = pd.merge(left=mortality_data_df, right=pollution_data_df, left_on='County', right_on='County')
merged_inner.head(10)

Empty DataFrame
Columns: [Notes, Year, Year Code, ICD-10 113 Cause List, ICD-10 113 Cause List Code, County, County Code_x, Race, Race Code, Gender, Gender Code, Deaths, Population, Crude Rate, State_Abbreviation, Unnamed: 0, State Code, County Code_y, Site Num, Address, State, City, Date Local, NO2 Units, NO2 Mean, NO2 1st Max Value, NO2 1st Max Hour, NO2 AQI, O3 Units, O3 Mean, O3 1st Max Value, O3 1st Max Hour, O3 AQI, SO2 Units, SO2 Mean, SO2 1st Max Value, SO2 1st Max Hour, SO2 AQI, CO Units, CO Mean, CO 1st Max Value, CO 1st Max Hour, CO AQI]
Index: []

[0 rows x 43 columns]