In [1]:
import pandas as pd

In [2]:
# Importing data files

pollution_data_df = pd.read_csv("Resources/California_Pollution.csv")
mortality_data_df = pd.read_csv("Resources/California_Mortality.csv")

In [3]:
pollution_data_df.head()

,Unnamed: 0,State Code,County Code,Site Num,Address,State,County,City,Date Local,NO2 Units,...,SO2 Units,SO2 Mean,SO2 1st Max Value,SO2 1st Max Hour,SO2 AQI,CO Units,CO Mean,CO 1st Max Value,CO 1st Max Hour,CO AQI
0,3516,6,13,2,2956-A TREAT BOULEVARD,California,Contra Costa,Concord,1/1/00,Parts per billion,...,Parts per billion,0.636364,2.0,9,3.0,Parts per million,0.556522,1.3,4,NaN
1,3517,6,13,2,2956-A TREAT BOULEVARD,California,Contra Costa,Concord,1/1/00,Parts per billion,...,Parts per billion,0.636364,2.0,9,3.0,Parts per million,0.572222,0.8,6,9.0
2,3518,6,13,2,2956-A TREAT BOULEVARD,California,Contra Costa,Concord,1/1/00,Parts per billion,...,Parts per billion,0.600000,2.0,11,NaN,Parts per million,0.556522,1.3,4,NaN
3,3519,6,13,2,2956-A TREAT BOULEVARD,California,Contra Costa,Concord,1/1/00,Parts per billion,...,Parts per billion,0.600000,2.0,11,NaN,Parts per million,0.572222,0.8,6,9.0
4,3520,6,13,2,2956-A TREAT BOULEVARD,California,Contra Costa,Concord,1/2/00,Parts per billion,...,Parts per billion,1.000000,2.0,5,3.0,Parts per million,0.578261,1.1,21,NaN

In [6]:
mortality_data_df.head()

,Notes,Year,Year Code,ICD-10 113 Cause List,ICD-10 113 Cause List Code,County,County Code,Race,Race Code,Gender,Gender Code,Deaths,Population,Crude Rate
0,NaN,2006.0,2006.0,#Influenza and pneumonia (J09-J18),GR113-076,"Alameda County, CA",6001.0,Asian or Pacific Islander,A-PI,Female,F,15.0,204139.0,Unreliable
1,NaN,2006.0,2006.0,#Influenza and pneumonia (J09-J18),GR113-076,"Alameda County, CA",6001.0,Asian or Pacific Islander,A-PI,Male,M,13.0,189589.0,Unreliable
2,NaN,2006.0,2006.0,#Influenza and pneumonia (J09-J18),GR113-076,"Alameda County, CA",6001.0,Black or African American,2054-5,Female,F,30.0,112599.0,26.6
3,NaN,2006.0,2006.0,#Influenza and pneumonia (J09-J18),GR113-076,"Alameda County, CA",6001.0,Black or African American,2054-5,Male,M,21.0,98714.0,21.3
4,NaN,2006.0,2006.0,#Influenza and pneumonia (J09-J18),GR113-076,"Alameda County, CA",6001.0,White,2106-3,Female,F,73.0,410372.0,17.8

In [7]:
# Removing unwanted columns from pollution_data_df
pollution_data_df_clean = pollution_data_df.drop(["Unnamed: 0", 
                                                  "State Code", 
                                                  "County Code", 
                                                  "Site Num", 
                                                  "Address", 
                                                  "State", 
                                                  "Date Local"], axis=1)

In [8]:
# Checking if columns are dropped
pollution_data_df_clean.head()

,County,City,NO2 Units,NO2 Mean,NO2 1st Max Value,NO2 1st Max Hour,NO2 AQI,O3 Units,O3 Mean,O3 1st Max Value,...,SO2 Units,SO2 Mean,SO2 1st Max Value,SO2 1st Max Hour,SO2 AQI,CO Units,CO Mean,CO 1st Max Value,CO 1st Max Hour,CO AQI
0,Contra Costa,Concord,Parts per billion,14.782609,26.0,4,25,Parts per million,0.015542,0.029,...,Parts per billion,0.636364,2.0,9,3.0,Parts per million,0.556522,1.3,4,NaN
1,Contra Costa,Concord,Parts per billion,14.782609,26.0,4,25,Parts per million,0.015542,0.029,...,Parts per billion,0.636364,2.0,9,3.0,Parts per million,0.572222,0.8,6,9.0
2,Contra Costa,Concord,Parts per billion,14.782609,26.0,4,25,Parts per million,0.015542,0.029,...,Parts per billion,0.600000,2.0,11,NaN,Parts per million,0.556522,1.3,4,NaN
3,Contra Costa,Concord,Parts per billion,14.782609,26.0,4,25,Parts per million,0.015542,0.029,...,Parts per billion,0.600000,2.0,11,NaN,Parts per million,0.572222,0.8,6,9.0
4,Contra Costa,Concord,Parts per billion,16.043478,30.0,21,28,Parts per million,0.015292,0.032,...,Parts per billion,1.000000,2.0,5,3.0,Parts per million,0.578261,1.1,21,NaN

In [9]:
# filling NaN
pollution_data_df_clean1 = pollution_data_df_clean.fillna(0)

In [21]:
pollution_data_df_clean1.head()

,County,City,NO2 Units,NO2 Mean,NO2 1st Max Value,NO2 1st Max Hour,NO2 AQI,O3 Units,O3 Mean,O3 1st Max Value,...,SO2 Units,SO2 Mean,SO2 1st Max Value,SO2 1st Max Hour,SO2 AQI,CO Units,CO Mean,CO 1st Max Value,CO 1st Max Hour,CO AQI
0,Contra Costa,Concord,Parts per billion,14.782609,26.0,4,25,Parts per million,0.015542,0.029,...,Parts per billion,0.636364,2.0,9,3.0,Parts per million,0.556522,1.3,4,0.0
1,Contra Costa,Concord,Parts per billion,14.782609,26.0,4,25,Parts per million,0.015542,0.029,...,Parts per billion,0.636364,2.0,9,3.0,Parts per million,0.572222,0.8,6,9.0
2,Contra Costa,Concord,Parts per billion,14.782609,26.0,4,25,Parts per million,0.015542,0.029,...,Parts per billion,0.600000,2.0,11,0.0,Parts per million,0.556522,1.3,4,0.0
3,Contra Costa,Concord,Parts per billion,14.782609,26.0,4,25,Parts per million,0.015542,0.029,...,Parts per billion,0.600000,2.0,11,0.0,Parts per million,0.572222,0.8,6,9.0
4,Contra Costa,Concord,Parts per billion,16.043478,30.0,21,28,Parts per million,0.015292,0.032,...,Parts per billion,1.000000,2.0,5,3.0,Parts per million,0.578261,1.1,21,0.0

In [11]:
mortality_data_df.head()

,Notes,Year,Year Code,ICD-10 113 Cause List,ICD-10 113 Cause List Code,County,County Code,Race,Race Code,Gender,Gender Code,Deaths,Population,Crude Rate
0,NaN,2006.0,2006.0,#Influenza and pneumonia (J09-J18),GR113-076,"Alameda County, CA",6001.0,Asian or Pacific Islander,A-PI,Female,F,15.0,204139.0,Unreliable
1,NaN,2006.0,2006.0,#Influenza and pneumonia (J09-J18),GR113-076,"Alameda County, CA",6001.0,Asian or Pacific Islander,A-PI,Male,M,13.0,189589.0,Unreliable
2,NaN,2006.0,2006.0,#Influenza and pneumonia (J09-J18),GR113-076,"Alameda County, CA",6001.0,Black or African American,2054-5,Female,F,30.0,112599.0,26.6
3,NaN,2006.0,2006.0,#Influenza and pneumonia (J09-J18),GR113-076,"Alameda County, CA",6001.0,Black or African American,2054-5,Male,M,21.0,98714.0,21.3
4,NaN,2006.0,2006.0,#Influenza and pneumonia (J09-J18),GR113-076,"Alameda County, CA",6001.0,White,2106-3,Female,F,73.0,410372.0,17.8

In [12]:
# Removing unwanted columns from mortality_data_df
mortality_data_df_clean = mortality_data_df.drop(["Notes", 
                                                  "Year Code"], axis=1)

In [13]:
# Remove .0 from Year Column
mortality_data_df_clean['Year'] = mortality_data_df_clean['Year'].astype(str).replace('\.0', '', regex=True)
mortality_data_df_clean.head()

,Year,ICD-10 113 Cause List,ICD-10 113 Cause List Code,County,County Code,Race,Race Code,Gender,Gender Code,Deaths,Population,Crude Rate
0,2006,#Influenza and pneumonia (J09-J18),GR113-076,"Alameda County, CA",6001.0,Asian or Pacific Islander,A-PI,Female,F,15.0,204139.0,Unreliable
1,2006,#Influenza and pneumonia (J09-J18),GR113-076,"Alameda County, CA",6001.0,Asian or Pacific Islander,A-PI,Male,M,13.0,189589.0,Unreliable
2,2006,#Influenza and pneumonia (J09-J18),GR113-076,"Alameda County, CA",6001.0,Black or African American,2054-5,Female,F,30.0,112599.0,26.6
3,2006,#Influenza and pneumonia (J09-J18),GR113-076,"Alameda County, CA",6001.0,Black or African American,2054-5,Male,M,21.0,98714.0,21.3
4,2006,#Influenza and pneumonia (J09-J18),GR113-076,"Alameda County, CA",6001.0,White,2106-3,Female,F,73.0,410372.0,17.8

In [14]:
# Remove "#" from Cause List Column
mortality_data_df_clean['ICD-10 113 Cause List'] = mortality_data_df_clean['ICD-10 113 Cause List'].str.replace('#', '')

In [15]:
mortality_data_df_clean.head()

,Year,ICD-10 113 Cause List,ICD-10 113 Cause List Code,County,County Code,Race,Race Code,Gender,Gender Code,Deaths,Population,Crude Rate
0,2006,Influenza and pneumonia (J09-J18),GR113-076,"Alameda County, CA",6001.0,Asian or Pacific Islander,A-PI,Female,F,15.0,204139.0,Unreliable
1,2006,Influenza and pneumonia (J09-J18),GR113-076,"Alameda County, CA",6001.0,Asian or Pacific Islander,A-PI,Male,M,13.0,189589.0,Unreliable
2,2006,Influenza and pneumonia (J09-J18),GR113-076,"Alameda County, CA",6001.0,Black or African American,2054-5,Female,F,30.0,112599.0,26.6
3,2006,Influenza and pneumonia (J09-J18),GR113-076,"Alameda County, CA",6001.0,Black or African American,2054-5,Male,M,21.0,98714.0,21.3
4,2006,Influenza and pneumonia (J09-J18),GR113-076,"Alameda County, CA",6001.0,White,2106-3,Female,F,73.0,410372.0,17.8

In [16]:
# Removing County, CA from County Column
mortality_data_df_clean['County'] = mortality_data_df_clean['County'].str.replace(' County, CA', '')
mortality_data_df_clean.head()

,Year,ICD-10 113 Cause List,ICD-10 113 Cause List Code,County,County Code,Race,Race Code,Gender,Gender Code,Deaths,Population,Crude Rate
0,2006,Influenza and pneumonia (J09-J18),GR113-076,Alameda,6001.0,Asian or Pacific Islander,A-PI,Female,F,15.0,204139.0,Unreliable
1,2006,Influenza and pneumonia (J09-J18),GR113-076,Alameda,6001.0,Asian or Pacific Islander,A-PI,Male,M,13.0,189589.0,Unreliable
2,2006,Influenza and pneumonia (J09-J18),GR113-076,Alameda,6001.0,Black or African American,2054-5,Female,F,30.0,112599.0,26.6
3,2006,Influenza and pneumonia (J09-J18),GR113-076,Alameda,6001.0,Black or African American,2054-5,Male,M,21.0,98714.0,21.3
4,2006,Influenza and pneumonia (J09-J18),GR113-076,Alameda,6001.0,White,2106-3,Female,F,73.0,410372.0,17.8

In [17]:
mortality_data_df_clean1 = mortality_data_df_clean.dropna()

In [22]:
mortality_data_df_clean1.head()

,Year,ICD-10 113 Cause List,ICD-10 113 Cause List Code,County,County Code,Race,Race Code,Gender,Gender Code,Deaths,Population,Crude Rate
0,2006,Influenza and pneumonia (J09-J18),GR113-076,Alameda,6001.0,Asian or Pacific Islander,A-PI,Female,F,15.0,204139.0,Unreliable
1,2006,Influenza and pneumonia (J09-J18),GR113-076,Alameda,6001.0,Asian or Pacific Islander,A-PI,Male,M,13.0,189589.0,Unreliable
2,2006,Influenza and pneumonia (J09-J18),GR113-076,Alameda,6001.0,Black or African American,2054-5,Female,F,30.0,112599.0,26.6
3,2006,Influenza and pneumonia (J09-J18),GR113-076,Alameda,6001.0,Black or African American,2054-5,Male,M,21.0,98714.0,21.3
4,2006,Influenza and pneumonia (J09-J18),GR113-076,Alameda,6001.0,White,2106-3,Female,F,73.0,410372.0,17.8

In [24]:
merged_df = mortality_data_df_clean1.combine_first(pollution_data_df_clean1)

In [27]:
merged_df
# merged_df.to_csv("data_merged.csv")
# Why are there NaN Values???

,CO 1st Max Hour,CO 1st Max Value,CO AQI,CO Mean,CO Units,City,County,County Code,Crude Rate,Deaths,...,O3 Units,Population,Race,Race Code,SO2 1st Max Hour,SO2 1st Max Value,SO2 AQI,SO2 Mean,SO2 Units,Year
0,4.0,1.3,0.0,0.556522,Parts per million,Concord,Alameda,6001.0,Unreliable,15.0,...,Parts per million,204139.0,Asian or Pacific Islander,A-PI,9.0,2.0,3.0,0.636364,Parts per billion,2006
1,6.0,0.8,9.0,0.572222,Parts per million,Concord,Alameda,6001.0,Unreliable,13.0,...,Parts per million,189589.0,Asian or Pacific Islander,A-PI,9.0,2.0,3.0,0.636364,Parts per billion,2006
2,4.0,1.3,0.0,0.556522,Parts per million,Concord,Alameda,6001.0,26.6,30.0,...,Parts per million,112599.0,Black or African American,2054-5,11.0,2.0,0.0,0.600000,Parts per billion,2006
3,6.0,0.8,9.0,0.572222,Parts per million,Concord,Alameda,6001.0,21.3,21.0,...,Parts per million,98714.0,Black or African American,2054-5,11.0,2.0,0.0,0.600000,Parts per billion,2006
4,21.0,1.1,0.0,0.578261,Parts per million,Concord,Alameda,6001.0,17.8,73.0,...,Parts per million,410372.0,White,2106-3,5.0,2.0,3.0,1.000000,Parts per billion,2006
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
397527,23.0,0.5,6.0,0.287500,Parts per million,Vallejo,Solano,NaN,NaN,NaN,...,Parts per million,NaN,NaN,NaN,23.0,0.7,0.0,0.385714,Parts per billion,NaN
397528,1.0,1.6,0.0,0.578261,Parts per million,Vallejo,Solano,NaN,NaN,NaN,...,Parts per million,NaN,NaN,NaN,1.0,1.8,1.0,0.834783,Parts per billion,NaN
397529,5.0,1.2,14.0,0.641667,Parts per million,Vallejo,Solano,NaN,NaN,NaN,...,Parts per million,NaN,NaN,NaN,1.0,1.8,1.0,0.834783,Parts per billion,NaN
397530,1.0,1.6,0.0,0.578261,Parts per million,Vallejo,Solano,NaN,NaN,NaN,...,Parts per million,NaN,NaN,NaN,2.0,1.5,0.0,0.757143,Parts per billion,NaN
397531,5.0,1.2,14.0,0.641667,Parts per million,Vallejo,Solano,NaN,NaN,NaN,...,Parts per million,NaN,NaN,NaN,2.0,1.5,0.0,0.757143,Parts per billion,NaN

In [31]:
pollution_counties = pollution_data_df_clean1["County"].unique().tolist()

In [32]:
print(pollution_counties, len(pollution_counties))

['Contra Costa', 'Imperial', 'Kern', 'Los Angeles', 'Orange', 'Riverside', 'Sacramento', 'San Bernardino', 'San Diego', 'San Francisco', 'Santa Barbara', 'Santa Cruz', 'Solano', 'Ventura', 'Alameda', 'Fresno', 'Humboldt', 'Santa Clara'] 18

In [33]:
mortality_counties = mortality_data_df_clean1["County"].unique().tolist()

In [34]:
print(mortality_counties, len(mortality_counties))

['Alameda', 'Butte', 'Contra Costa', 'El Dorado', 'Fresno', 'Humboldt', 'Kern', 'Los Angeles', 'Madera', 'Marin', 'Merced', 'Monterey', 'Napa', 'Nevada', 'Orange', 'Placer', 'Riverside', 'Sacramento', 'San Bernardino', 'San Diego', 'San Francisco', 'San Joaquin', 'San Luis Obispo', 'San Mateo', 'Santa Barbara', 'Santa Clara', 'Santa Cruz', 'Shasta', 'Solano', 'Sonoma', 'Stanislaus', 'Sutter', 'Tehama', 'Tulare', 'Ventura', 'Yolo', 'Amador', 'Calaveras', 'Del Norte', 'Glenn', 'Imperial', 'Kings', 'Lake', 'Mendocino', 'San Benito', 'Siskiyou', 'Tuolumne', 'Yuba', 'Mariposa', 'Lassen', 'Plumas', 'Inyo', 'Trinity', 'Colusa'] 54

In [38]:
# Matching the number of mortality counties with number of pollution counties (18)
mortality_county = mortality_data_df_clean1[mortality_data_df_clean1["County"].isin(x)]
mortality_county.head()

,Year,ICD-10 113 Cause List,ICD-10 113 Cause List Code,County,County Code,Race,Race Code,Gender,Gender Code,Deaths,Population,Crude Rate
0,2006,Influenza and pneumonia (J09-J18),GR113-076,Alameda,6001.0,Asian or Pacific Islander,A-PI,Female,F,15.0,204139.0,Unreliable
1,2006,Influenza and pneumonia (J09-J18),GR113-076,Alameda,6001.0,Asian or Pacific Islander,A-PI,Male,M,13.0,189589.0,Unreliable
2,2006,Influenza and pneumonia (J09-J18),GR113-076,Alameda,6001.0,Black or African American,2054-5,Female,F,30.0,112599.0,26.6
3,2006,Influenza and pneumonia (J09-J18),GR113-076,Alameda,6001.0,Black or African American,2054-5,Male,M,21.0,98714.0,21.3
4,2006,Influenza and pneumonia (J09-J18),GR113-076,Alameda,6001.0,White,2106-3,Female,F,73.0,410372.0,17.8

In [37]:
mortality_county.shape

(3773, 12)

In [39]:
# Running Elise's combine_first function
merged_df = mortality_county.combine_first(pollution_data_df_clean1)
merged_df
# merged_df.to_csv("data_merged.csv")
# Why are there NaN Values???

,CO 1st Max Hour,CO 1st Max Value,CO AQI,CO Mean,CO Units,City,County,County Code,Crude Rate,Deaths,...,O3 Units,Population,Race,Race Code,SO2 1st Max Hour,SO2 1st Max Value,SO2 AQI,SO2 Mean,SO2 Units,Year
0,4.0,1.3,0.0,0.556522,Parts per million,Concord,Alameda,6001.0,Unreliable,15.0,...,Parts per million,204139.0,Asian or Pacific Islander,A-PI,9.0,2.0,3.0,0.636364,Parts per billion,2006
1,6.0,0.8,9.0,0.572222,Parts per million,Concord,Alameda,6001.0,Unreliable,13.0,...,Parts per million,189589.0,Asian or Pacific Islander,A-PI,9.0,2.0,3.0,0.636364,Parts per billion,2006
2,4.0,1.3,0.0,0.556522,Parts per million,Concord,Alameda,6001.0,26.6,30.0,...,Parts per million,112599.0,Black or African American,2054-5,11.0,2.0,0.0,0.600000,Parts per billion,2006
3,6.0,0.8,9.0,0.572222,Parts per million,Concord,Alameda,6001.0,21.3,21.0,...,Parts per million,98714.0,Black or African American,2054-5,11.0,2.0,0.0,0.600000,Parts per billion,2006
4,21.0,1.1,0.0,0.578261,Parts per million,Concord,Alameda,6001.0,17.8,73.0,...,Parts per million,410372.0,White,2106-3,5.0,2.0,3.0,1.000000,Parts per billion,2006
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
397527,23.0,0.5,6.0,0.287500,Parts per million,Vallejo,Solano,NaN,NaN,NaN,...,Parts per million,NaN,NaN,NaN,23.0,0.7,0.0,0.385714,Parts per billion,NaN
397528,1.0,1.6,0.0,0.578261,Parts per million,Vallejo,Solano,NaN,NaN,NaN,...,Parts per million,NaN,NaN,NaN,1.0,1.8,1.0,0.834783,Parts per billion,NaN
397529,5.0,1.2,14.0,0.641667,Parts per million,Vallejo,Solano,NaN,NaN,NaN,...,Parts per million,NaN,NaN,NaN,1.0,1.8,1.0,0.834783,Parts per billion,NaN
397530,1.0,1.6,0.0,0.578261,Parts per million,Vallejo,Solano,NaN,NaN,NaN,...,Parts per million,NaN,NaN,NaN,2.0,1.5,0.0,0.757143,Parts per billion,NaN
397531,5.0,1.2,14.0,0.641667,Parts per million,Vallejo,Solano,NaN,NaN,NaN,...,Parts per million,NaN,NaN,NaN,2.0,1.5,0.0,0.757143,Parts per billion,NaN

In [40]:
# Maybe consider doing one county: Los Angeles?
x = mortality_county[mortality_county["County"] == "Los Angeles"]
y = pollution_data_df_clean1[pollution_data_df_clean1["County"] == "Los Angeles"]